<?xml version='1.0' encoding='utf-8'?>
<widget id="com.byZcode.catalogo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CatalogoProductos</name>
  <description>Catálogo de productos en jQuery Mobile</description>
  <author email="jose@byzcode.cu">Jose</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="true" />

  <!-- Permisos para Android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <!-- Permiso para leer archivos (necesario para seleccionar imágenes) -->
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <!-- Para Android 13+ (API 33) se necesita este permiso específico para imágenes -->
      <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
      <!-- Opcional: si también quieres guardar imágenes (por si acaso) -->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
  </platform>
</widget>