<?xml version='1.0' encoding='utf-8'?>
<widget id="com.byZcode.catalogo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CatalogoProductos</name>
  <description>Catálogo de productos en jQuery Mobile</description>
  <author email="jose@byzcode.cu">Jose</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="true" />
</widget>

