h2 {
  color: #0074D9;
}
p {
  font-size: 14px;
}

#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 10px;
}

.producto-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none; /* quitar subrayado */
  color: inherit;        /* mantener color del texto */
}

.producto-card:hover {
  transform: scale(1.05);
}

.producto-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

.producto-card h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #2c3e50;
}

.producto-card p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

  
