h2 {
  color: #0074D9;
}
p {
  font-size: 14px;
}

#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 10px;
}

.producto-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
}

.producto-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

.producto-card h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #2c3e50;
}

.producto-card p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.ui-header-custom h1 {
  font-size: 1.1em;          /* Ajusta tamaño para móvil */
  margin: 0;
  text-align: center;        /* Centra el título */
  white-space: nowrap;       /* Evita que se corte en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis;   /* Si se reduce mucho, pone "..." */
}

.ui-header-custom .brand {
  font-weight: 600;
}

.ui-header-custom .year {
  font-weight: bold;
  color: #0077cc;            /* Azul corporativo */
  margin-left: 4px;          /* Espacio entre texto y año */
}


.ui-footer-custom .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;               /* Espacio entre elementos */
}

.ui-footer-custom img {
  height: 24px;           /* Ajusta tamaño del logo */
}

  
